.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

.env

data/raw/cricsheet/*
!data/raw/cricsheet/.gitkeep
data/raw/player_metadata/*
!data/raw/player_metadata/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/features/*
!data/features/.gitkeep

models/*.pkl
models/*.joblib

.DS_Store
*.log

.streamlit/secrets.toml
